#add-time-btn,
#restart-btn,
#question,
#web-view,
#body,
.map {
	display: none;
}

#map-area {
	margin-top: 0.5%;
}
#question-area {
	position: fixed;
	right: 0.5%;
	background-color: white;
	height: 593px;
	width: 380px;
	padding: 15px;
	border: 3px solid #111197;
}

#rank-area {
	position: fixed;
	overflow-y: scroll;
	overflow-x: hidden;
	left: 0.5%;
	background-color: white;
	height: 593px;
	width: 420px;
	border: 3px solid #111197;
}

.modal-content {
    width: 30%;
}

#places-list {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 500px;
}

.lds-spinner {
	padding-left: 48%;
}